@model Model.EFModel.ChitietHDTC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChitietHDTC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoaDonTinhCuoc.HoaDonTinhCuocID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDonTinhCuoc.HoaDonTinhCuocID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIM.TenSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIM.TenSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoPhutSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhutSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
