@model Model.EFModel.ChitietHDTC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChitietHDTC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoaDonTinhCuoc.HoaDonTinhCuocID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDonTinhCuoc.HoaDonTinhCuocID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIM.TenSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIM.TenSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoPhutSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhutSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChitietHDTCID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
