@model IEnumerable<Model.EFModel.HoaDonTinhCuoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIM.TenSim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuocThueBao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIM.TenSim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuocThueBao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HoaDonTinhCuocID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HoaDonTinhCuocID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HoaDonTinhCuocID })
        </td>
    </tr>
}

</table>
